@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  height: 100%;
  padding: 0.5rem;
}

main {
  max-width: 600px;
  min-height: 600px;
  margin: auto;
  background: rgba(200, 200, 200, 0.4);
  padding: 0.5rem;
}

body {
  background: linear-gradient(135deg, #d9a7c7, #fffcdc, #6dd3ce);
}
